/* 
.correos_oficial {
    color: var(--co_blue);
}

.correos_oficial .extra-container {
    margin-bottom: 15px;
    text-align: center;
    width: auto;
}

.correos_oficial .extra-container .customs-advice-doc {
    font-size: 12px;
    font-weight: bold;
}

.correos_oficial .frontOptionSelector {
    padding: 7px;
    color: var(--co_blue);
    max-width: fit-content;
}

.correos_oficial .schedule-and-map h3 {
    background: var(--co_yellow);
}

.correos_oficial .schedule-and-map .input-group {
    margin-bottom: 10px;
}

.correos_oficial .co_hidden_map {
    display: none;
}

.correos_oficial .search-paq-section {
    display: grid;
    grid-template-columns: 90px 150px auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
    justify-items: start;
    align-items: center;
}


.correos_oficial .map {
    width: 100%;
    height: 20em;
}

.co_primary_button {
    font-size: 0.9em;
}

.correos_oficial .col-sm-6 {
    float: left;
}


@media (max-width: 768px) {
    .correos_oficial .search-paq-section {
        grid-template-columns: 90px 150px auto;
    }
    .correos_oficial .section-frontOptionSelector {
        grid-column-start: 1;
        grid-column-end: 1;
        max-width: 5px;
        margin-bottom: 20px !important;
    }
}

.search-paq-section {
    display: grid;
    grid-template-columns: 90px 150px auto ;
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}

@media (max-width: 768px) {
    .search-paq-section {
        grid-template-columns: 90px 150px auto ;
    }
    .section-frontOptionSelector {
        grid-column-start: 1;
        grid-column-end: 1;
        max-width: 5px;
    }
    .section-SearchCityPaqByCPInput, .section-SearchOfficeByCPInput {
        display: grid;
        grid-template-columns: 90px 150px auto ;
    }
} */

/* Checkout Styles */
.correos_oficial {
    color: var(--co_blue);
}

.correos_oficial .customs-advice-doc {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 5px;
}

.correos_oficial .extra-container {
    margin-bottom: 15px;
    width: auto;
}

.correos_oficial .extra-container .checkout-paq-advice {
    background-color: var(--co_yellow);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.correos_oficial .extra-container .search-paq-section {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap; /* permite que los elementos pasen a la siguiente línea */
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.correos_oficial .extra-container .city-paq-schedule-and-map,
.correos_oficial .extra-container .office-schedule-and-map {
    padding-left: 5px;
    padding-right: 5px;
}

.correos_oficial .extra-container .section-SearchCityPaqByCPInput,
.correos_oficial .extra-container .section-SearchOfficeByCPInput,
.correos_oficial .extra-container .section-SearchPudoCEXByCPInput {
    flex: 0 0 20%;
}

.correos_oficial .extra-container .section-SearchCityPaqByCp,
.correos_oficial .extra-container .section-SearchOfficeByCp,
.correos_oficial .extra-container .section-SearchPudoCEXByCp {
    flex: 0 0 10%;
}

.correos_oficial .extra-container .section-frontOptionSelector {
    flex: 1;
}

.correos_oficial .section-SearchCityPaqByCPInput input,
.correos_oficial .section-SearchCityPaqByCp button,
.correos_oficial .section-SearchOfficeByCPInput input,
.correos_oficial .section-SearchOfficeByCp button,
.correos_oficial .section-SearchPudoCEXByCPInput input,
.correos_oficial .section-SearchPudoCEXByCp button,
.correos_oficial .section-frontOptionSelector select {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.correos_oficial .city-paq-schedule-and-map,
.correos_oficial .office-schedule-and-map {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.correos_oficial .city-paq-schedule-and-map .columna,
.correos_oficial .office-schedule-and-map .columna {
    flex: 1;
}

.correos_oficial .city-paq-schedule-and-map-right p.address,
.correos_oficial .office-schedule-and-map-right p.address {
    margin-left: 0 !important;
}

.correos_oficial .customs-advice-doc h3,
.correos_oficial .city-paq-schedule-and-map h3,
.correos_oficial .office-schedule-and-map h3 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    border-bottom: 2px solid var(--co_yellow);
    font-weight: 700 !important;
}


.correos_oficial .city-paq-schedule-and-map p,
.correos_oficial .office-schedule-and-map p,
.correos_oficial .customs-advice-doc p {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: black !important;
    font-weight: 390 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.correos_oficial .citypaq-address-info,
.correos_oficial .office-address-info,
.correos_oficial .customs-advice-doc {
    font-size: 1.3rem !important;
}

/* Necesario para mostrar el mapa */
.correos_oficial .map {
    width: 100%;
    height: 20em;
}

/* Diseño para pantallas pequeñas (responsive) */
@media (max-width: 768px) {

    .correos_oficial .extra-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .correos_oficial .extra-container .section-SearchCityPaqByCPInput,
    .correos_oficial .extra-container .section-SearchOfficeByCPInput,
    .correos_oficial .extra-container .section-SearchPudoCEXByCPInput {
        order: 1;
        flex: 1 1 45%;
    }

    .correos_oficial .extra-container .section-SearchCityPaqByCp,
    .correos_oficial .extra-container .section-SearchOfficeByCp,
    .correos_oficial .extra-container .section-SearchPudoCEXByCp {
        order: 2;
        flex: 1 1 45%;
    }

    .correos_oficial .extra-container .section-frontOptionSelector {
        order: 3;
        flex: 1 1 100%;
    }

    .correos_oficial .office-schedule-and-map {
        flex-direction: column;
    }
}